<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home upload</title>
</head>
<body>
    <form enctype='multipart/form-data' action='/upload' method='post'>
    <input name="username">
    <input type="file" name='avatar'/>
    <button type="submit">Upload</button>
    <img src="/uploads/24325270df3d1986aa7aaff22a4e196c" alt=" incrypted "
     style="padding: 200px; border: 1px solid #ddd; border-radius: 4px;
      width: 150px;">
</form>
</body>
</html>